<?xml version="1.0" ?>
<launch>
  <!-- General launch profiles -->
  <arg name = "realtime" default="false"/>
  <arg name = "simulator" default="false"/>
  <arg name = "replay" default="false"/>


  <!-- Fine tune customization -->
  <arg name="endpoints" default="false"/>
  <arg name="networking" default="true"/>
  <arg name="health" default="false"/>
  <arg name="voice" default="true"/>
  <arg name="pose" default="true"/>
  <arg name="obstacle_detection" default="false"/>
  <arg name="visualize_pose" default="false"/>

  <!-- Configuration for real-world driving -->
  <group if="$(arg realtime)">
    <include file="$(find cart_control)/launch/autoware_localization.launch"/>
  </group>

  <!-- Configuration for running simulator -->
  <group if="$(arg simulator)">
    <include file="$(find cart_control)/launch/autoware_localization.launch">
      <arg name="gazebo" value="true"/>
      <arg name="lidar" value="false"/>
      <arg name="use_sim_time" value="true"/>
    </include>
  </group>

  <!-- Configuraton for replay of bag files -->
  <group if="$(arg replay)">
    <include file="$(find cart_control)/launch/autoware_localization.launch">
      <arg name="gazebo" value="false"/>
      <arg name="lidar" value="false"/>
      <arg name="use_sim_time" value = "true"/>
    </include>
  </group>

  <!-- launch hardware interface-->
  <group if="$(arg endpoints)">
      <include file="$(find cart_endpoints)/launch/hardware_interface.launch">
        <arg name="networking" value="$(arg networking)"/>
        <arg name="health" value="$(arg health)"/>
        <arg name="voice" value="$(arg voice)"/>
        <arg name="pose" value="$(arg pose)"/>
        <arg name="visualize_pose" value="$(arg visualize_pose)"/>
        <arg name="obstacle_detection" value="$(arg obstacle_detection)"/>
      </include>
  </group>

  <!--always launch planning nodes-->
  <group>
      <include file="$(find cart_planning)/launch/planning.launch"/>
  </group>

  <!--launch the constants on the param server -->
  <group>
      <include file="$(find cart_planning)/launch/constants.launch"/>
  </group>
</launch>
