<?xml version="1.0" ?>
<launch>
  <arg name="testing" default="true"/>
  <arg name="lidar" default="true"/>
  <arg name="networking" default="true"/>
  <arg name="health" default="true"/>
  <!-- <arg name="rviz" default="true"/> -->
  <!-- launch testing interface-->
  <group>
     <include file="$(find cart_control)/launch/autoware_localization.launch">
        <arg name="gazebo" value="false"/>
        <arg name="lidar" value="$(arg lidar)"/>
     </include>
  </group>
  <!-- launch hardware interface-->
  <group if="$(arg testing)">
      <include file="$(find cart_endpoints)/launch/hardware_interface.launch">
        <arg name="networking" value="$(arg networking)"/>
        <arg name="health" value="$(arg health)"/>
      </include>
  </group>
  <!--always launch planning nodes-->
  <group>
      <include file="$(find cart_planning)/launch/planning.launch"/>
  </group>
  <!--launch the constants on the param server -->
  <group>
      <include file="$(find cart_planning)/launch/constants.launch"/>
  </group>
</launch>
