<?xml version="1.0"?>

<launch>
    <arg name="graph_file" default="$(find cart_planning)/data/home_loopV3.gml"/>
    <!-- Global Planner graph file parameter -->
    <rosparam param="graph_file" subst_value="True">$(arg graph_file)</rosparam>

    <rosparam>
        <!-- GPS Util Params -->
        anchor_gps: [38.433939, -78.862157]
        anchor_theta : 100
        <!-- GPS Calibration Params -->
        anchor_local: [0, 0]
        test_loc_gps: [38.433170, -78.860981]
        test_loc_local: [67.6, 115]

        <!-- Safety Parameters -->
        <!-- These are reactive in the sense that if the max_speed is reached the cart will emergency stop -->
        max_speed: 5
        max_ndt_health: 4
        
        <!-- Collision Detection Parameters -->
        <!-- Minimum distance an obstacle can be from the cart before emergency stopping-->
        min_obstacle_dist: 0.5
        <!-- Time(seconds) away an obstacle can be before emergency stopping-->
        min_obstacle_time: 0.5

        <!-- Safe distance before a general eased stop -->
        safe_obstacle_dist: 6
        safe_obstacle_time: 2

        <!-- Vehicle Kinematics (Meters) -->
        vehicle_width: 1.1938
        vehicle_length: 2.4003 
        wheel_base: 2.4003
        front_axle_track: 0.9017
        rear_axle_track: 0.9652
        tire_width: 0.2159
    </rosparam>
</launch>
