<?xml version="1.0"?>

<launch>
    <rosparam>
        <!-- GPS Util Params -->
        anchor_gps: [38.433939, -78.862157]
        anchor_theta : 100
        <!-- GPS Calibration Params -->
        anchor_local: [0, 0]
        test_loc_gps: [38.433170, -78.860981]
        test_loc_local: [67.6, 115]

        <!-- Global Planner graph file parameter -->
        graph_file: "/home/browermb/catkin_ws/src/ai-navigation/EastCampusLiteV6.gml"

        <!-- Maximum safety parameters -->
        <!-- These are reactive in the sense that if the max_speed is reached the cart will emergency stop -->
        max_speed: 5
        max_ndt_health: 4

        <!-- Vehicle Kinematics -->
        vehicle_width: 1.1938
        vehicle_length: 2.4003 
        wheel_base: 2.4003
        front_axle_track: 0.9017
        rear_axle_track: 0.9652
        tire_width: 0.2159
    </rosparam>
</launch>
