<?xml version="1.0"?>
<launch>
    <group>
        <node name="motor_endpoint" pkg="gc_endpoints" type="motor_endpoint.py"/>
        <!--node name="kill_switch" pkg="gc_endpoints" type="emergency_stop.py"/-->
        <!--node name="server_endpoint" pkg="gc_endpoints" type="server_endpoint.py"/-->
    </group>
</launch>
