<?xml version="1.0" ?>
<launch>
  <arg name="testing" default="true"/>
  <arg name="rviz" default="false"/>
  <!-- launch testing interface-->
  <group  if="$(arg testing)">
     <include file="$(find gc_testing)/launch/testing_interface.launch"/>
  </group>
  <!-- launch hardware interface-->
  <group unless="$(arg testing)">
      <include file="$(find gc_endpoints)/launch/hardware_interface.launch"/>
  </group>
  <!--always launch planning nodes-->
  <group>
      <include file="$(find gc_planning)/launch/planning.launch"/>
  </group>
  <!--launch with rviz display-->
  <group if="$(arg rviz)">
      <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" 
	output="screen" args="-d $(find navigation)/rviz/display.rviz"/>
  </group>
</launch>
