<?xml version="1.0" ?>
<launch>
    <include file="$(find gc_testing_description)/launch/sim.launch"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find cart_simulator)/testing_description/rviz/tortoisebot.rviz" />
    <!-- this node translate to Twist from VelAngle to talk to simulation -->
    <node name="vel_angle_to_twist" pkg="cart_simulator" type="vel_angle_to_twist.py"/>

</launch>

